<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registro Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/portal.css">
    </head>
    
    <body>
        <div>
            <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a th:href= "@{/index}" type="button" class="navbar-brand">INICIO</button></a>
                </div> 
            </nav>
        </div>

        <br>
        <div class="container">

            <h3>Crear Usuario</h3>

            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                <h5>Mensaje</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>

            <form class="formulario" th:action="@{/admin/registro}" method="POST">

                <div class="form-group my-3">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" th:value="${nombre}" required minlength="5" maxlength="35" size="35">
                </div>
                <div class="form-group my-3">
                    <input type="number" class="form-control" name="dni" placeholder="DNI" th:value="${dni}" required min="1000000" max="99999999" size="99999999">
                </div>
                <div class="form-group my-3">
                    <input type="number" class="form-control" name="telefono" placeholder="Teléfono" th:value="${telefono}" required min="10000000" max="9999999999" size="9999999999">
                </div>
                <div class="form-group my-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" th:value="${email}" required>
                </div>
                <div class="form-group my-3">
                    <label for="floatingSelect">Rol de Usuario</label>
                    <select type="text" class="form-control" name="rol">
                        <option value="administrativo">Administrativo</option>
                        <option value="directivo">Directivo</option>
                    </select>  
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="usuario" placeholder="Nombre de Usuario" th:value="${usuario}" required minlength="3" maxlength="10" size="10">
                </div>
                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" required minlength="5" maxlength="10" size="10"> 
                </div>
                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA" required minlength="5" maxlength="10" size="10">
                </div>

                <button type="submit" class="btn btn-primary">Registrar</button>
                <a th:href= "@{/index}" <button type="button" class="btn btn-primary">Volver</a>
            </form>           

        </div>
    </body>
</html>
